<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <title>GYM V1</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-danger">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Acceuil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Adhérents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Abonements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sport</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Documents</a>
          </li>
      </div>
    </div>
  </nav>
  {% block body %}
   
  {% endblock body %}
    
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>